:root {
  --md-admonition-icon--admonish-solution: url("data:image/svg+xml;charset=utf-8,<?xml version='1.0' encoding='utf-8'?><!-- License: MIT. Made by thesabbir: https://github.com/thesabbir/simple-line-icons --><svg fill='%23000000' width='800px' height='800px' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'><path d='M511.984 0c-198.032 0-353.12 161.104-353.12 359.136 0 149.2 73.28 220.256 131.185 272.128 37.28 33.424 62.368 53.552 62.368 78.352v54.255c0 1.392.193 2.752.368 4.128h-.72v92.624c.016 97.712 63.2 163.376 161.072 163.376 94.464 0 158.944-65.664 158.944-163.376V768h-.928c.176-1.376.416-2.736.416-4.128v-54.255c0-37.76 28.032-60.592 70.528-97.696 57.504-50.208 123.023-112.688 123.023-252.784C865.136 161.104 710.016 0 511.983 0zm-1.215 960c-59.904 0-94.689-37.152-94.689-99.376l-.463-42.672C438.64 825.824 470 832 512 832c41.424 0 72.848-6.624 96.08-14.768v43.392c0 63.152-35.247 99.376-97.312 99.376zm189.248-396.288c-43.472 37.968-92.433 77.216-92.433 145.904v40.432c-15.183 8.48-43.183 18.56-96.127 18.56-55.569 0-81.92-9.856-95.024-17.473V709.6c0-54.608-42.688-89.297-83.68-126.017-54.32-48.672-109.873-103.84-109.873-224.464-.015-162.72 126.385-295.12 289.104-295.12 162.752 0 289.152 132.4 289.152 295.137 0 111.024-48.463 158.576-101.12 204.576z'/></svg>");
}

:is(.admonition):is(.admonish-solution) {
  border-color: #00c853;
}

:is(.admonish-solution) > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(0, 200, 83, 0.1);
}
:is(.admonish-solution) > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #00c853;
  mask-image: var(--md-admonition-icon--admonish-solution);
  -webkit-mask-image: var(--md-admonition-icon--admonish-solution);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
:root {
  --md-admonition-icon--admonish-proof: url("data:image/svg+xml;charset=utf-8,<?xml version='1.0' encoding='utf-8'?><!-- License: MIT. Made by vmware: https://github.com/vmware/clarity-assets --><svg fill='%23000000' width='800px' height='800px' viewBox='0 0 36 36' version='1.1'  preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>scroll-line</title><path d='M34,11.12V6.58a4.5,4.5,0,0,0-4.5-4.5h-16A4.5,4.5,0,0,0,9,6.58v23a2.5,2.5,0,1,1-5,0V26H7.19V24H2v5.5A4.5,4.5,0,0,0,6.5,34H25.58a4.5,4.5,0,0,0,4.5-4.5V13.13h-2V29.54a2.5,2.5,0,0,1-2.5,2.5H10.24a4.47,4.47,0,0,0,.76-2.5v-23a2.5,2.5,0,0,1,5,0v4.54Zm-4.5-7A2.5,2.5,0,0,1,32,6.58V9.12H18V6.58a4.48,4.48,0,0,0-.76-2.5Z' class='clr-i-outline clr-i-outline-path-1'></path><rect x='0' y='0' width='36' height='36' fill-opacity='0'/></svg>");
}

:is(.admonition):is(.admonish-proof) {
  border-color: #ffd700;
}

:is(.admonish-proof) > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(255, 215, 0, 0.1);
}
:is(.admonish-proof) > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #ffd700;
  mask-image: var(--md-admonition-icon--admonish-proof);
  -webkit-mask-image: var(--md-admonition-icon--admonish-proof);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
:root {
  --md-admonition-icon--admonish-pause: url("data:image/svg+xml;charset=utf-8,<?xml version='1.0' encoding='utf-8'?><!-- License: MIT. Made by michaelampr: https://github.com/michaelampr/jam --><svg fill='%23000000' width='800px' height='800px' viewBox='-4 -3 24 24' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMin' class='jam jam-pause'><path d='M2 0h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 2v14h2V2H2zm10-2h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 2v14h2V2h-2z' /></svg>");
}

:is(.admonition):is(.admonish-pause) {
  border-color: #00b0ff;
}

:is(.admonish-pause) > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(0, 176, 255, 0.1);
}
:is(.admonish-pause) > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #00b0ff;
  mask-image: var(--md-admonition-icon--admonish-pause);
  -webkit-mask-image: var(--md-admonition-icon--admonish-pause);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
:root {
  --md-admonition-icon--admonish-bigidea: url("data:image/svg+xml;charset=utf-8,<?xml version='1.0' encoding='utf-8'?><!-- License: MIT. Made by thesabbir: https://github.com/thesabbir/simple-line-icons --><svg fill='%23000000' width='800px' height='800px' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'><path d='M511.984 0c-198.032 0-353.12 161.104-353.12 359.136 0 149.2 73.28 220.256 131.185 272.128 37.28 33.424 62.368 53.552 62.368 78.352v54.255c0 1.392.193 2.752.368 4.128h-.72v92.624c.016 97.712 63.2 163.376 161.072 163.376 94.464 0 158.944-65.664 158.944-163.376V768h-.928c.176-1.376.416-2.736.416-4.128v-54.255c0-37.76 28.032-60.592 70.528-97.696 57.504-50.208 123.023-112.688 123.023-252.784C865.136 161.104 710.016 0 511.983 0zm-1.215 960c-59.904 0-94.689-37.152-94.689-99.376l-.463-42.672C438.64 825.824 470 832 512 832c41.424 0 72.848-6.624 96.08-14.768v43.392c0 63.152-35.247 99.376-97.312 99.376zm189.248-396.288c-43.472 37.968-92.433 77.216-92.433 145.904v40.432c-15.183 8.48-43.183 18.56-96.127 18.56-55.569 0-81.92-9.856-95.024-17.473V709.6c0-54.608-42.688-89.297-83.68-126.017-54.32-48.672-109.873-103.84-109.873-224.464-.015-162.72 126.385-295.12 289.104-295.12 162.752 0 289.152 132.4 289.152 295.137 0 111.024-48.463 158.576-101.12 204.576z'/></svg>");
}

:is(.admonition):is(.admonish-bigidea) {
  border-color: #ff9100;
}

:is(.admonish-bigidea) > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(255, 145, 0, 0.1);
}
:is(.admonish-bigidea) > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #ff9100;
  mask-image: var(--md-admonition-icon--admonish-bigidea);
  -webkit-mask-image: var(--md-admonition-icon--admonish-bigidea);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
:root {
  --md-admonition-icon--admonish-pic: url("data:image/svg+xml;charset=utf-8,<?xml version='1.0' encoding='utf-8'?><!-- License: MIT. Made by vmware: https://github.com/vmware/clarity-assets --><svg fill='%23000000' width='800px' height='800px' viewBox='0 0 36 36' version='1.1'  preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>picture-line</title><path d='M32,4H4A2,2,0,0,0,2,6V30a2,2,0,0,0,2,2H32a2,2,0,0,0,2-2V6A2,2,0,0,0,32,4ZM4,30V6H32V30Z' class='clr-i-outline clr-i-outline-path-1'></path><path d='M8.92,14a3,3,0,1,0-3-3A3,3,0,0,0,8.92,14Zm0-4.6A1.6,1.6,0,1,1,7.33,11,1.6,1.6,0,0,1,8.92,9.41Z' class='clr-i-outline clr-i-outline-path-2'></path><path d='M22.78,15.37l-5.4,5.4-4-4a1,1,0,0,0-1.41,0L5.92,22.9v2.83l6.79-6.79L16,22.18l-3.75,3.75H15l8.45-8.45L30,24V21.18l-5.81-5.81A1,1,0,0,0,22.78,15.37Z' class='clr-i-outline clr-i-outline-path-3'></path><rect x='0' y='0' width='36' height='36' fill-opacity='0'/></svg>");
}

:is(.admonition):is(.admonish-pic) {
  border-color: #9e9e9e;
}

:is(.admonish-pic) > :is(.admonition-title, summary.admonition-title) {
  background-color: rgba(158, 158, 158, 0.1);
}
:is(.admonish-pic) > :is(.admonition-title, summary.admonition-title)::before {
  background-color: #9e9e9e;
  mask-image: var(--md-admonition-icon--admonish-pic);
  -webkit-mask-image: var(--md-admonition-icon--admonish-pic);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
